    {{#if message}}
    <div style="background: red; padding: 2rem">
    {{message}}
    
    </div>
    {{/if}}
    <form method="POST" >
        <label>Emeilas
            <input type="email" name="login">
        </label>
        <label>Password
            <input type="password" name="password">
        </label>

        <input type="file" name="photo" id="">
        <button type="submit">Siusti</button>
    </form>


