<form action="">
    <div>
        <label for="">Title</label>
        <input type="text" name="post_title">
       
    </div>
    <div>
        <label for="">Content</label>
        <textarea name="post_content" ></textarea>
    </div>
    <div>
        <label for="">Data</label>
        <input type="date" name="date">
        
    </div>
</form>