<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Titulinis</h1>
    <nav>
        <a href="http://localhost:3000/karjera">Karjera</a>
        <a href="http://localhost:3000/rekvizitai">Imones rekvizitai</a>
        <a href="http://localhost:3000/istorija">Istorija</a>
        <a href="http://localhost:3000/kontaktai">Kontaktai</a>
    </nav>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui natus maiores alias doloribus delectus culpa enim itaque deleniti numquam aut!</p>
</body>

</html>