   {{#if message}}
    <div style="background: red; color: #fff; padding: 1rem">
        {{message}}
    </div>
{{/if}}
   <div class="container">
       {{message}}
    <form method="POST" >
        <div class="mb-3">
        <label>Vardas
            <input type="text" name="name">
        </label>
        </div>
        <div class="mb-3">
        <label>Pavarde
            <input type="text" name="surname">
        </label>
        </div>
        <div class="mb-3" >
        <label>Telefonas
            <input type="text" name="tlf" >
        </label>
        </div>
        <div class="mb-3" >
        <label>Epastas
            <input type="email" name="email">
        </label>
        </div>
        <div class="mb-3" >
        <label>Adresas
            <input type="" name="adres" id="">
        </label>
        </div>

        <button type="submit">Siusti</button>
    </form>
    </div> 
    


